<%- include('./partials/nav') %>

<h1>Welcome to Goal Gather</h1>

<h3>Your IEP Goal and Objectives Library</h3>

<div class="row row-cols-1 row-cols-md-3 g-3">
    <div class="col">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Subject Areas</h5>
            <p class="card-text">Browse all specific focus areas and subjects for IEP goals.</p>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">IEP Goals</h5>
            <p class="card-text">Browse all current IEP goals listed in our library. Login to view objectives for a specific goal, add goals and objectives, or save goals to your account.</p>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">My Saved Goals</h5>
            <p class="card-text">Find all of your saved goals here for future reference.</p>
        </div>
        </div>
</div>


<%- include('./partials/footer') %>