<%- include('./partials/nav') %>
<br>
<h1>Welcome to Goal Gather</h1>

<h3>Your IEP Goal and Objectives Library</h3>

<br>

<div class="row row-cols-1 row-cols-md-3 g-3">
    <div class="col">
        <div class="card mb-4 shadow">
        <div class="card-body">
            <h5 class="card-title">Subject Areas</h5>
            <p class="card-text">Browse all specific focus areas and subjects for IEP goals. These can be used to help with IEP goal development.</p>
            <br>
            <a href="/subjects/index" class="btn btn-secondary">View Subjects</a>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 shadow">
        <div class="card-body">
            <h5 class="card-title">IEP Goals</h5>
            <p class="card-text">Browse all current IEP goals listed in our library. Login to view objectives for a specific goal or add your own goals.</p>
            <br>
            <a href="/goals/" class="btn btn-secondary">View Goals</a>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 shadow">
        <div class="card-body">
            <h5 class="card-title">My Saved Goals</h5>
            <p class="card-text">Find all of your saved goals here for future reference. Login to see your saved information, save more goals, or add new goals and objectives.</p>
            <br>
            <a href="home/saved" class="btn btn-secondary">View Saved Goals</a>
        </div>
        </div>
    </div>
</div>

<div class="card mb-4 shadow">
    <img src="images/home-img.png" class="card-img" alt="...">
</div>

<%- include('./partials/footer') %>