
<%- include('../partials/nav') %>

<div class="container-sm">
    <form action="/goals/edit/<%= goal._id %>?_method=PATCH" method="POST">
        <fieldset>
            <label class="form-label">Subject Area:</label>
                <select name="subject">
                    <option value="Reading">Reading</option>
                    <option value="Writing">Writing</option>
                    <option value="Math">Math</option>
                    <option value="Functional Academics">Functional Academics</option>
                    <option value="Speech and Language">Speech and Language</option>
                    <option value="Life Skills">Life Skills</option>
                    <option value="Occupational Therapy">Occupational Therapy</option>
                    <option value="Physical Therapy">Physical Therapy</option>
                    <option value="Assistive Technology">Assistive Technology</option>
                    <option value="Social Skills">Social Skills</option>
                    <option value="Social Emotional">Social Emotional</option>
                    <option value="Vocational">Vocational</option>
                </select>      
                <br>  
            <label class="form-label">Make Your Updates Below:</label>
            <input type="text" class="form-control" placeholder="Edit this goal here" name="desc" required value="<%= goal.desc %>">
            <br>
            <input type="submit" class="btn btn-light" value="Confirm Edit">
        </fieldset>
    </form>
</div>

<%- include('../partials/footer') %>