<%- include('../partials/nav') %>

<div class="container-md">
    <ul>
        <% goals.forEach(goal => {%>
            <li>
                <a href="/goals/<%= goal._id %>">
                    <%= goal.desc %>
                </a>
            </li>
        <% }) %>
    </ul>
</div>

<%- include('../partials/footer') %>