<%- include('../partials/nav') %>

<h5><%= goal.desc %></h5>

<h4>Objective List:</h4>

<div>
    <% if (objectiveSchema.desc.length) { %>
        <h5><%= objectiveSchema.desc %></h5>
    <% } else { %>
        <h5>No Objectives Yet</h5>
    <% } %>
</div>

<div>
    <button>Add Objective For This Goal</button>
</div>

<%- include('../partials/footer') %>