<%- include('../partials/nav') %>

<h1>Subject Areas</h1>

<h3>Browse subject focus areas for IEP goals.</h3>

<table>
    <tbody>
            <tr>
                <td>Reading</td>
                <td>Writing</td>
                <td>Math</td>
                <td>Functional Academics</td>
            </tr>
            <tr>
                <td>Speech and Language</td>
                <td>Life Skills</td>
                <td>Occupational Therapy</td>
                <td>Physical Therapy</td>
            </tr>
            <tr>
                <td>Assistive Technology</td>
                <td>Social Skills</td>
                <td>Social Emotional</td>
                <td>Vocational</td>
            </tr>
    </tbody>
</table>

<%- include('../partials/footer') %>