<%- include('../partials/nav') %>
<br>
<h1>Subject Areas</h1>
<h3>Browse subject focus areas for IEP goals.</h3>
<br>
<div class="row row-cols-3 row-cols-md-4 g-3">
    <div class="col">
        <div class="card text-center mb-4 shadow">
        <div class="card-body">
            <br>
            <br>
            <h5 class="card-title">Reading</h5>
            <br>
            <br>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center mb-4 shadow">
        <div class="card-body">
            <br>
            <br>
            <h5 class="card-title">Writing</h5>
            <br>
            <br>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center mb-4 shadow">
        <div class="card-body">
            <br>
            <br>
            <h5 class="card-title">Math</h5>
            <br>
            <br>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center mb-4 shadow">
        <div class="card-body">
            <br>
            <h5 class="card-title">Functional Academics</h5>
            <br>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center mb-4 shadow">
        <div class="card-body">
            <br>
            <h5 class="card-title">Speech and Language</h5>
            <br>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center mb-4 shadow">
        <div class="card-body">
            <br>
            <br>
            <h5 class="card-title">Life Skills</h5>
            <br>
            <br>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center mb-4 shadow">
        <div class="card-body">
            <br>
            <h5 class="card-title">Occupational Therapy</h5>
            <br>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center mb-4 shadow">
        <div class="card-body">
            <br>
            <h5 class="card-title">Physical Therapy</h5>
            <br>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center mb-4 shadow">
        <div class="card-body">
            <br>
            <h5 class="card-title">Assistive Technology</h5>
            <br>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center mb-4 shadow">
        <div class="card-body">
            <br>
            <br>
            <h5 class="card-title">Social Skills</h5>
            <br>
            <br>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center mb-4 shadow">
        <div class="card-body">
            <br>
            <h5 class="card-title">Social Emotional</h5>
            <br>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center mb-4 shadow">
        <div class="card-body">
            <br>
            <br>
            <h5 class="card-title">Vocational</h5>
            <br>
            <br>
        </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>