<%- include('../partials/nav') %>

<h1>Subject Areas</h1>

<h3>Browse subject focus areas for IEP goals.</h3>

<table>
    <tbody>
            <tr>
                <td>Reading</td>
                <td>Writing</td>
                <td>Math</td>
                <td>Functional Academics</td>
            </tr>
    </tbody>
</table>

<%- include('../partials/footer') %>