body {
    background-color: #DEF4FA;
    padding: 25px;
    font-size: 14px;
    font-family: 'Nixie One';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    /* border: 1px solid rgb(255, 255, 255); */
    background-color: #9BCDD2;
    margin-top: auto;
    display: flex;
    justify-content: center;
    color: white;
}

a > img {
    height: 3vh;
    /* align-content: right; */
}

/* .container-fluid {
    background-color: #9BCDD2;
} */

/* nav {
    background-color: #9BCDD2;
} */