body {
    background-color: #DEF4FA;
    padding: 25px;
    font-size: 14px;
    font-family: 'Nixie One', cursive;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #9BCDD2;
    margin-top: auto;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 2vmin;
}

a > img {
    height: 3vh;
}

.navbar-brand {
    font-family: 'Finger Paint', cursive;
    color: white;
    font-size: 2.5vmin;
}

h1 {
    font-family: 'Finger Paint', cursive;
    font-size: 6vmin;
    text-align: center;
    color: #5c5c5c;
}

h3 {
    font-size: 3vmin;
    text-align: center;
    color: #9bcdd2;
}

.card-title {
    font-size: 2.8vmin;
    color: #5c5c5c;
    font-weight: bold;
}

p {
    font-size: 1.5vmin;
    color: #fb692a;
    /* color: #9bcdd2; */
}

.goal-sub {
    font-size: 1.5vmin;
}

.goal-desc {
    font-size: 1.3vmin;
}

/* .goal-delete {
    align-items: right;
} */

.logoutButton {
    color:#5c5c5c;
    font-family: 'Finger Paint', cursive;
    font-size: 2vmin;
}

.welcomeName {
    color:#5c5c5c;
    font-size: 1.8vmin;
}

.navFont {
    font-size: 1.5vmin;
}

.navbar-brand:hover {
    color: #5c5c5c
}

.welcomeName:hover {
    color: #5c5c5c
}

.logoutButton:hover {
    color: white
}

.navFont:hover {
    color: #5c5c5c
}

.editForm {
    font-size: 2vmin;
}

.subSelect {
    font-size: 1.5vmin;
}

.updateHere {
    font-size: 2vmin;
}

.editHere {
    font-size: 1.5vmin;
}

.subArea {
    font-size: 2vmin;
}

.yourGoal {
    font-size: 2vmin;
}

.typeNew {
    font-size: 1.5vmin;
}

h4 {
    font-size: 2.5vmin;
    color: #9BCDD2;
    text-align: center;
}

.objDesc {
    font-size: 1.8vmin;
    color: #9BCDD2;
    font-weight: bold;
}

.objInfo {
    font-size: 1.5vmin;
}

h5 {
    font-size: 2.25vmin;
    font-weight: bold;
}

.deleteObj {
    margin: 15px;
}

.details {
    margin-bottom: 15px;
}